body {
  color: #000;
  overflow-x: hidden;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-text-size-adjust: none;
  font-family: -apple-system, Helvetica, sans-serif;
  -moz-user-select: none;
  max-width: 540px;
  min-width: 320px;
  margin: 0 auto;
  background: #f4f4f4;
}
a {
  text-decoration: none;
  color: #333;
}
.seach {
  position: fixed;
  top: 0;
  left: 50%;
  box-sizing: border-box;
  -webkit-transform: translateX(-50%);

  transform: translateX(-50%);
  background: #fff;
  width: 100%;
  height: 50px;
  max-width: 540px;
  min-width: 320px;
}

.sec {
  display: flex;
  justify-content: center;

  align-items: center;
  background: #fff;
  width: 93%;
  height: 32px;
  margin: 12px 17px;
  border-radius: 16px;
  border: 1.8px solid #0086f6;
}

.xiec_icon {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 18px;
  height: 15px;
  background-color: violet;
  background: url(https://st.360buyimg.com/so/images/search/jd-sprites.png?__inline=)
    no-repeat -81px 0;
  background-size: 200px auto;
}
.sec span {
  position: absolute;
  top: 20px;
  left: 45px;
  color: #ccc;
  font-size: 15px;
}
.banner {
  padding-top: 50px;
}
.banner img {
  width: 100%;
}

.nav {
  height: 58px;
  display: flex;
  margin: 4px 5px;
  overflow: hidden;
  border-radius: 5px;
  background: #fff;
}

.nav li {
  flex: 1;
}
.nav li a {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #333;
  font-size: 12px;
}
.nav li a [class^="icon"] {
  height: 28px;
  width: 28px;
  background: url(https://webresource.c-ctrip.com/NFES/html5/1640243261734/_next/serverStatic/img/nav.png)
    no-repeat 0 0;
  background-size: 28px auto;
}

.nav li a .icon-2 {
  background-position: 0 -28px;
}

.nav li a .icon-3 {
  background-position: 0 -56px;
}

.nav li a .icon-4 {
  background-position: 0 -84px;
}

.nav li a .icon-5 {
  background-position: 0 -110px;
}

.ZU-nav {
  margin: 5px;
  border-radius: 8px;
  overflow: hidden;
}

.ZUNav1 {
  display: flex;
  height: 88px;
  background-color: chartreuse;
}
.ZUNav1 .navitems {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.ZUNav1 .navitems a {
  flex: 1;
  text-align: center;
  font-size: 12px;
  line-height: 44px;
  color: #fff;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.3);
}
.ZUNav1 .navitems a:nth-child(1) {
  border-bottom: 1px solid seashell;
}
.ZUNav1 .navitems:nth-child(1) a {
  border: 0;
}

.ZUNav1 .navitems:nth-child(-n + 2) {
  border: 1px solid rgb(255, 238, 244);
}

.ZUNav1:nth-child(2) {
  margin: 3px 0;
}

.ZUNav1 {
  background: -webkit-linear-gradient(left, #f8635a, #fe974a);
}
/**热点导航栏 */

.mid {
  margin: 4px;
  overflow: hidden;
  border-radius: 5px;
  background-color: #fff;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.mid li {
  flex: 20%;
  padding: 3px;
}
.mid li a {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 12px;
  color: #333;
}
.mid li a [class^="icon"] {
  height: 28px;
  width: 28px;
  background: url(https://webresource.c-ctrip.com/NFES/html5/1640243261734/_next/serverStatic/img/nav.png)
    no-repeat 0 0;
  background-size: 28px auto;
}
/**底部 */

.footer {
  margin: 4px;
  border-radius: 5px;
  border-top: 1px solid #bbb;
}

.footer .top {
  height: 44px;
  text-align: center;
  position: relative;

  border-bottom: 1px solid #bbb;
}

.footer .top .lef h3 {
  position: absolute;
  top: 0;
  left: 0;
  padding-left: 5px;
  line-height: 44px;

  font-weight: normal;
  margin-top: 1px;
}
.footer .top .lef a {
  position: absolute;
  top: 8px;
  right: 5px;
  font-size: 12px;
  border-radius: 8px;
  background: -webkit-linear-gradient(left, #f8635a, #fe974a);
  padding: 7px 20px 7px 3px;
}
.footer .top .lef a::after {
  content: "";
  position: absolute;
  top: 8px;
  right: 8px;
  width: 7px;
  height: 7px;
  border-top: 1px solid #fff;
  border-right: 1px solid #fff;
  transform: rotate(45deg);
}

.box1 {
  display: flex;
}
.box1 a {
  flex: 1;
}
.box1 img {
  width: 100%;
}
