@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?4gruk7');
  src:  url('fonts/icomoon.eot?4gruk7#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?4gruk7') format('truetype'),
    url('fonts/icomoon.woff?4gruk7') format('woff'),
    url('fonts/icomoon.svg?4gruk7#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-apachecordova:before {
  content: "\e900";
  color: #e8e8e8;
}
.icon-auth0:before {
  content: "\e901";
  color: #eb5424;
}
.icon-fandango:before {
  content: "\e902";
  color: #ff7300;
}
.icon-github:before {
  content: "\e903";
}
.icon-known:before {
  content: "\e904";
}
.icon-letterboxd:before {
  content: "\e905";
  color: #00d735;
}
.icon-mercedes:before {
  content: "\e906";
}
.icon-messenger:before {
  content: "\e907";
  color: #00b2ff;
}
.icon-apachecordova1:before {
  content: "\40";
  color: #e8e8e8;
}
.icon-blue:before {
  content: "\e909";
}
.icon-baidu:before {
  content: "\e908";
  color: #2319dc;
}
.icon-coffeescript:before {
  content: "\e90a";
}
.icon-goodreads:before {
  content: "\e90b";
  color: #630;
}
.icon-internetexplorer:before {
  content: "\e90c";
  color: #0076d6;
}
.icon-jenkins:before {
  content: "\e90d";
  color: #d24939;
}
.icon-jest:before {
  content: "\e90e";
  color: #c21325;
}
.icon-kubernetes:before {
  content: "\e90f";
  color: #326ce5;
}
.icon-music:before {
  content: "\e911";
}
